.container {
    &.fw-w {
        &.distribution-offset {
            padding: 5px;
            
            .item {
                margin-right: 0;
                margin-bottom: 0;
                margin: 5px;
            }
        }
    }
}
