@import '../../styles/variables';

.navigation {
    position: fixed;
    width: $navigation-width;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    border-right: 1px solid $light-grey;
    transition: color .25s;
    background-color: $white;

    a {
        text-decoration: none;

        &.active {
            color: $blue;
        }
    }
}