@import '../../../../styles/variables';

.display-flex {
    .container {
        &.height-2 {
            height: 200px;
        }
        
        .item {
            &.width-half {
                width: calc((100% - #{$spacer}) / 2);
            }
            
            &:not(:last-of-type){
                margin-right: $spacer * .5;
            }
        }
        
        &.ai-b {
            .item {
                &:first-of-type{
                    font-size: 26px;
                }
                
                &:last-of-type{
                    font-size: 32px;
                }
            }
        }

        &.fw-w {
            .item {
                &:not(:last-child){
                    margin-bottom: $spacer * .5;
                }
            }
        }

        &.fw-wr {
            .item {
                margin-bottom: $spacer * .5;
                
                &:nth-child(1),
                &:nth-child(2){
                    margin-bottom: 0;
                }
            }
        }
    }
}